<div *ngFor="let val of sortedResult; let i = index">
    <div *ngIf="sortedResult[i][0]==='/'">
        <hr style="height:4px;border-width:0;color:gray;background-color:gray">
    </div>
    <div *ngIf="sortedResult[i][0]!=='/' && !sortedResult[i][2]">
        <app-label [label]="sortedResult[i][0]" [indentNum]="+sortedResult[i][1]"></app-label>
    </div>
    <div *ngIf="sortedResult[i][0]!=='/' && sortedResult[i][2]">
        <div class="form-control" style="display: flex;">
            <div *ngFor="let i of Arr(+sortedResult[i][2]-1).fill(1)">
                <pre>   </pre>
            </div>
            <label>{{ sortedResult[i][0] }}({{ sortedResult[i][1] }}):</label>
        </div>
        <div class="form-control" style="display: flex;">
            <div *ngFor="let i of Arr(+sortedResult[i][2]-1).fill(1)">
                <pre>   </pre>
            </div>
            <input value='{{sortedResult[i][0]}}' id='{{sortedResult[i][0]}}' name='{{sortedResult[i][0]}}'>
        </div>
        <div class="form-control" style="display: flex;">
            <div *ngFor="let i of Arr(+sortedResult[i][2]).fill(1)">
                <pre>   </pre>
            </div>
            <div class="err" *ngIf="!errorArray[i] && firstClick">
                Wrong input type!
            </div>
        </div>
    </div>
</div>
<app-button (btnClick)="verify()"></app-button>
